<div class="mobile-menu" id="mobileMenu">
    <button class="mobile-menu-close" onclick="toggleMenu()">×</button>
    <a href="/" onclick="toggleMenu()">Home</a>
    <a href="/cuccioli.html" onclick="toggleMenu()">Cuccioli</a>
    <a href="/cuccioli-nord-italia.html" onclick="toggleMenu()">Nord Italia</a>
    <a href="/#campionessa" onclick="toggleMenu()">Campionessa</a>
    <a href="/#femmine" onclick="toggleMenu()">Femmine</a>
    <a href="/#maschi" onclick="toggleMenu()">Maschi</a>
    <a href="/#domande" onclick="toggleMenu()">FAQ</a>
    <a href="/#contatti" onclick="toggleMenu()">Contatti</a>
</div>
